$background-color: #e1e2e1;
$primary-color: #263238;
$primary-color-dark: #000a12;
$primary-color-light: #4f5b62;
$secondary-color: #00838f;
$secondary-color-dark: #005662;
$secondary-color-light: #4fb3bf;
